#container {
    display: flex;
    width: 18rem;
    height: auto;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgb(165, 165, 174);
    transform: scale(1);
}