@font-face {
    font-family: Simple-Thread;
    src: url(font/SimpleThread_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: Enter-The-Grid;
    src: url(font/Enter\ the\ Grid.ttf);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: chocolate;
    flex-direction: column;
}

h1 {
    font-family: Simple-Thread, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 15px;
}

#gridAndSlider {
    display: flex;
    flex-direction: column;
}

#container {
    display: grid;
    width: 550px;
    height: 550px;
    border: solid 6px black;
    background-color: white;
}

.grid {
    padding: 0;
    margin: 0;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#size {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.slider {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.buttoncontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

.button {
    padding: 12px 20px;
}

#grid:hover {
    background-color: rgb(212, 156, 14);
}

#grid:active {
    background-color: rgb(212, 156, 14);
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

#grid {
    background-color: rgb(255, 183, 0);
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    font-family: Enter-The-Grid, 'Times New Roman', Times, serif;
    font-size: 16px;
}