@font-face {
    font-family: Simple-Thread;
    src: url(font/SimpleThread_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: Enter-The-Grid;
    src: url(font/Enter\ the\ Grid.ttf);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: saddlebrown;
    flex-direction: column;
}

h1 {
    font-family: Simple-Thread, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 15px;
    padding-top: 20px;
}

#gridAndSlider {
    display: flex;
    flex-direction: column;
}

#container {
    display: grid;
    width: 650px;
    height: 500px;
    border: solid 6px black;
    background-color: white;
}

.grid {
    padding: 0;
    margin: 0;
}

.slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#size {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.slider {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.buttoncontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

.button {
    padding: 12px 20px;
}

#grid:hover,
#clear:hover,
#color:hover {
    background-color: rgb(212, 156, 14);
}

#grid:active,
#clear:active,
#color:active {
    background-color: rgb(212, 156, 14);
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

#grid,
#clear,
#color {
    background-color: rgb(255, 183, 0);
    box-shadow: 0 9px #999;
    border-radius: 15px;
    border: none;
    font-family: Enter-The-Grid, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.right,
.left {
    display: flex;
    gap: 5px;
}

#eraseContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#eraseText {
    font-family: Enter-The-Grid, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 183, 0);
    border-radius: 15px;
    padding: 5px 18px 5px 18px;
}

.eraseSwitch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.eraseSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.eraseSlider {
    position: absolute;
    top: -8px;
    left: 0;
    right: -10px;
    bottom: 0;
    transition: .4s;
    background-color: rgb(255, 183, 0);
}

.eraseSlider:before {
    position: absolute;
    content: "OFF";
    text-align: center;
    font-family: Enter-The-Grid, 'Times New Roman', Times, serif;
    padding: 15px 5px 0px 5px;
    height: 26px;
    width: 34px;
    left: 4px;
    bottom: 4px;
    background-color: #999;
    transition: .4s;
}

input:checked+.eraseSlider {
    background-color: #fa0404;
}

input:focus+.eraseSlider {
    box-shadow: 0 0 1px #fa0404;
}

input:checked+.eraseSlider:before {
    transform: translateX(38px);
    content: "ON";
}

.eraseSlider.round {
    border-radius: 34px;
}

.eraseSlider.round:before {
    border-radius: 50%;
}